@import url(https://fonts.googleapis.com/css?family=Indie+Flower|Nanum+Brush+Script);

body {
	color: #555;
	margin: 0;
	width: 100%;
	font-family: 'Indie Flower', sans-serif;
}
h1, h2, h3, h4 {
	color: #333;
}
p {
	line-height: 1.5;
}
a {
	color: #1abc9c;
	text-decoration: none;
}
a:hover {
	color: #F6A623;
}
#header {
	background-color: #1abc9c;
	height: 150px;
	line-height: 150px;
	padding: 1%;
}
#header-title {
	display: block;
	float: left;
	font-size: 20px;
	font-weight: bold;
}
#header-nav {
	display: block;
	float: right;
	margin-top: 0;
}
#header-nav li {
	display: inline;
	padding-left: 20px;
}
#header a {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}
#header a:hover {
	color: #222;
}
#content {
	padding: 3%;
}
.container{
	max-width: 1000px;
	margin: 0 auto;
	padding: 1em;
}
.column {
	min-width: 100px;
	width: 40%;
	display: inline-block;
	vertical-align: top;
	text-align: center;
}
#footer {
	background-color: #2f2f2f;
	padding: 3% 0;
}
#footer h4 {
	color: white;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}
#footer p {
	color: white;
}
.about {
	text-align: center;
}
.post, .about {
	max-width: 800px;
	margin: 0 auto;
	padding: 60px 0;
}
.headLine {
	text-decoration: underline;
	font-weight: bold;
}
.post-author img {
	width: 50px;
	height: 50px;
	vertical-align: middle;
}
.post-author span {
	margin-left: 16px;
}
.post-author img, .about-author img{
	border-radius: 50%;
}
.post-date {
	color: #D2D2D2;

	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}
.post-container:nth-child(even) {
	background-color: #f2f2f2;
}
.boxAnimation1 {
    width: 250px;
    height: 30px;
    border-radius: 8px;
    text-align: center;
    background-color: #1abc9c;
    position: relative;
    animation-name: animation1;
    animation-duration: 12s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-iteration-count: 2; /*can also use infinate*/
    animation-direction: normal;
}
@keyframes animation1 {
    0%   {background-color:#1abc9c; left:0px; top:0px;}
    0%   {transform: rotate(0deg);}
    25%  {background-color:#F6A623; left:300px; top:0px;}
    25%  {transform: rotate(10deg);}
    50%  {background-color:#1abc9c; left:600px; top:0px;}/*green*/
    50%  {transform: rotate(0deg);}
    75%  {background-color:#F6A623; left:300px; top:0px;}/*orange*/
    75%  {transform: rotate(-10deg);}
    100% {background-color:#1abc9c; left:0px; top:0px;}
}/*this section is linked to .boxAnimation*/















